@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  background-color: black;
}

html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
